<div class="container">
  <div class="card">
    <h3>Bio</h3>
    <%= render 'profile' %>
  </div>
  <% if current_user.profile %>
    <div class="card">
      <h3>friends</h3>
      <%= render 'friends' %>
    </div>
    <%= render 'feed' %>
  <% else %>
    <div class="card" style="color:red;">
      you need to capture your bio to see friends and start your posts
    </div>
  <% end %>
</div>
